//Глобальные переменные

$color1: #ffffff;
$color2: #f4f5f7;
$color3: #010101;
$color4: #4a4a4a;
$color5: #1c1c1c;
$color6: #2f7505;
$color7: #cf680a;

$color8: #43c5e6;
$color9: #31c5b7;
$color10: #fc7557;
$color11: #7f9dff;
$color12: #e8ecf8;

$color13: #f2f2f2;
$color14: #828282;

$input-focus-shadow: 0 0 0 1px #2684ff;
$input-hover-color: #4680e5ae;

$black: #000;
$transparent: transparent;

$blocksShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$blocksBorder: 1px solid rgba(0, 0, 0, 0.1);

$shadowColor: #00000040;
$sidebarLinkShadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);

$button-padding: 12px 30px;
$border-radius: 4px;

$transition: 0.25s all ease-in-out;
