//Глобальные переменные

$backgroundColor: #c6c4c440;
$blockBackground: #ffffff;
$captionColor: #7e8c9a;
$headingColor: #010101;
$paragraphColor: #4a4a4a;
$currentColor: #fde2d3;
$accentColor1: #f47123;
$accentColor2: #ff3f3f;

$smallBorder: 5px;
$bigBorder: 20px;

$black: #000;
$transparent: transparent;

$blocksShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$blocksBorder: 1px solid rgba(0, 0, 0, 0.1);

$shadowColor: #00000040;
$sidebarLinkShadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);

$button-padding: 12px 30px;
$border-radius: 4px;

$transition: 0.25s all ease-in-out;
