@import "./reset.scss";
@import "./global.scss";
@import "./mixins.scss";

.flex {
  display: flex;
}

h1 {
  font-size: 3rem;
  color: $headingColor;
}

h2 {
  font-size: 2rem;
  color: $headingColor;
  font-weight: 500;
}

h3 {
  font-size: 1.3rem;
  color: $headingColor;
}

h4 {
  font-size: 1.1rem;
  color: $headingColor;
}

p {
  color: $paragraphColor;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.flexPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  height: 100vh;
  background: $backgroundColor;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  padding: 1rem;
  @include mobile {
    margin-bottom: 4rem;
    padding: 0.5rem;
  }
}
