@import "@styles/global.scss";

@font-face {
  font-family: "Involve";
  src: url(@/shared/fonts/Involve-Medium.ttf);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Involve";
  font-optical-sizing: auto;
  font-size: 16px;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

a {
  color: black;
  transition: $transition;
}

a:hover {
  opacity: 0.7;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

ul,
li {
  list-style: none;
}

html,
body {
  max-width: 100vw;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}
