@import "@styles/global.scss";
.LoginForm {
  border-radius: $bigBorder;
  background-color: $blockBackground;
  width: 30%;
  min-width: 450px;

  padding: 3.5rem;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;

  .title {
    width: 100%;
    text-align: left;
  }
  .InputBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    .InputBlockHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .errorMsg {
    color: $accentColor2;
  }
  .AccentColor {
    color: $accentColor1;
  }

  button {
    margin-top: 10px;
    width: 100%;
  }
}
