@import "@styles/global.scss";

.PassingTestForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .testPassingBlock {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
    p {
      color: $color3;
    }
  }
  .testPassingForm {
    border-radius: 20px;
    background-color: $color1;
    width: 30%;
    min-width: 550px;

    padding: 3.5rem;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    box-shadow: $blocksShadow;
  }

  .testLabel {
    color: $color4;
  }
}
