@import "@styles/global.scss";
.CreateTest {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: $blockBackground;
  box-shadow: $blocksShadow;
  border-radius: 10px;
  border: $blocksBorder;
  transition: 0.2s;
  cursor: pointer;
}
