.TextDropdown {
  position: absolute;
  padding: 0 25px;
  top: calc(100% + 6px);
  max-height: 250px;
  left: 0;
  margin: 0;
  border-radius: 10px;
  list-style: none;
  background: #f0f0f7;
  overflow-y: scroll;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  z-index: 1000;
}

.TextDropdownItem {
  cursor: pointer;
  padding: 20px 0;
  font-size: 18px;
  border-bottom: 1px solid #cfd6dd;
  display: flex;
  gap: 20px;
  &:last-child {
    border-bottom: none;
  }
}

.EmptyTextDropdown {
  height: 250px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.EmptyDrodownTitle {
  margin-top: 15px;
}

.EmptyTextDropdownDescription {
  font-weight: 300;
}

.input {
  width: 100%;
  background-color: transparent;
  & input::placeholder {
    color: #b5bcc2;
  }
}
