@import "@styles/index.scss";
.TrainCard {
  width: 50%;
  min-width: 600px;
  text-align: left;
  @include mobile {
    width: 95%;
    min-width: 200px;
  }

  .header {
    border-radius: $bigBorder $bigBorder 0 0;
    background-color: $currentColor;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .body {
    padding: 1rem 2rem;
    background-color: $blockBackground;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0 0 $bigBorder $bigBorder;
    .stopsBlock {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
    .stops {
      font-size: 0.7rem;
    }
    .accent {
      color: $accentColor1;
    }
    .timeLine {
      display: flex;
      align-items: center;
      gap: 10px;
      text-align: center;
      justify-content: space-between;
      @include mobile {
        svg,
        p,
        span {
          display: none;
        }
      }
      .path {
        h4 {
          font-size: 1.5rem;
        }
        span {
          font-size: 0.7rem;
        }
      }
      .twoTrains {
        p {
          width: 100%;
          font-size: 1rem;
          text-align: center;
          color: #555;
          span {
            font-size: 0.7rem;
            color: $captionColor;
          }
        }
      }
    }
  }
  .Purchased {
    display: flex;
    gap: 1rem;
    p {
      font-size: 0.7rem;
    }
  }
  .accent {
    color: $accentColor1;
  }
  button {
    width: 100%;
    margin-top: 10px;
  }
  .shareButton {
    background: transparent;
    border: none;
    padding: 0;
    width: auto;
  }
}
