@import "@styles/global.scss";
.Sidebar {
  background-color: $color2;
  width: 20%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  gap: 20px;
  padding: 40px 20px;

  h3 {
    padding-bottom: 20px;
  }

  .myBlock {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-top: solid 1px $color5;
    border-bottom: solid 1px $color5;
  }
  a {
    padding: 10px 20px;
    font-size: 18px;
  }
  .activeLink {
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: $color4;
  }
}
