@import "@styles/global.scss";
.CreateTestPage {
  .body {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 65%;

      .addTest {
        width: 100%;
        padding: 20px;
        background-color: $blockBackground;
        text-align: center;
        cursor: pointer;
      }
    }
    .buttons {
      margin: 0 auto;
      width: 50%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 10px;
    }
    .tools {
      position: sticky;
      right: 0;
      top: 10vh;
      width: 30%;
      text-align: center;
      background-color: $captionColor;
      padding: 20px;
      height: 75vh;
      border-radius: $smallBorder;
    }
  }
}
