@import "@styles/global.scss";
.MyTestsPage {
  width: 100%;
  .tools {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .RightBlock {
      color: $headingColor;
      position: relative;
      background-color: $blockBackground;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr 1px 1fr;
      align-items: center;
      gap: 1rem;
      box-shadow: $blocksShadow;
      border: $blocksBorder;
      border-radius: 10px;
      padding: 0 1rem;

      .tool {
        position: relative;
        cursor: pointer;
        padding: 1rem 0;
      }
      .line {
        width: 1px;
        height: 1.5rem;
        background-color: $headingColor;
        opacity: 0.25;
      }
      .noActive {
        opacity: 0.25;
        border: none;
        transition: 0.5s;
        &:hover {
          opacity: 1;
        }
      }

      &::after {
        position: absolute;
        content: "";
        transition: 0.3s;
        width: calc(50% - 2rem);
        background-color: $blockBackground;
        height: 2px;
        border-radius: 10px;
        bottom: -0.5px;
        left: 1rem;
        right: auto;
      }
    }
    .active {
      &::after {
        transform: translateX(calc(150% - 1rem));
      }
    }
  }
}
