@import "@styles/global.scss";
.CreatingTestForm {
  padding: 40px 20px;
  height: 50vh;
  min-width: 300px;
  background-color: $blockBackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .Buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .Inputs {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    input {
      width: 100%;
    }
  }
}
.errorMsg {
  color: $accentColor2;
}
