@import "@styles/index.scss";

.ProfilePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.ProfileBody {
  width: fit-content;
}
.ExitButton {
  border-radius: 0;
  width: 100%;
  & > p {
    color: $accentColor2;
  }
}
