@import "@styles/index.scss";
.ProfileBody {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 800px;
  margin: 0 auto;
  gap: 25px;
}

.ExitButton {
  border-radius: 0;
  width: 100%;
  & > p {
    color: $accentColor2;
  }
}
