@import "@styles/global.scss";
.TestCard {
  position: relative;
  min-height: 300px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 1.5rem;
  background-color: $color1;

  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  .header {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  .tools {
    display: flex;
    align-items: center;
    gap: 10px;
    .tool {
      overflow: hidden;
      position: relative;
      padding: 10px;
      border-radius: 6px;
      border: 1px solid $color3;
      cursor: pointer;
      // transition: 0.5s;

      &:hover:not(:focus) {
        background-color: $color12;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: $color11;
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
      }
      @keyframes ripple {
        0% {
          transform: scale(0, 0);
          opacity: 1;
        }
        20% {
          transform: scale(10, 10);
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: scale(30, 30);
        }
      }
      &:focus:not(:active)::after {
        animation: ripple 1s ease-out;
      }
    }
  }
}
