@import "@styles/index.scss";
.ProfileCard {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  border-radius: $smallBorder;
  padding: 1rem;
  background-color: $blockBackground;
}
