@import "@styles/index.scss";
.RegisterForm {
  border-radius: $bigBorder;
  background-color: $blockBackground;
  width: 30%;
  min-width: 450px;

  padding: 3.5rem;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;

  box-shadow: $blocksShadow;
  border: $blocksBorder;
  .title {
    width: 100%;
    text-align: left;
  }

  .InputBlocks {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .InputBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    .InputBlockHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .errorMsg {
    color: $accentColor2;
  }
  .AccentColor {
    color: $accentColor1;
  }
}
