@import "@styles/index.scss";

.freeOrBooked {
  width: 65%;
  @include mobile {
    width: 100%;
  }
  .trainCards {
    overflow-y: scroll;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &::-webkit-scrollbar {
      width: 10px;
      margin-right: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background: $captionColor;
    }
    @include mobile {
      overflow-y: overlay;
      height: auto;
    }
  }
  h2 {
    margin: 1rem 0;
  }
  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    button {
      width: 50%;
    }
  }
}
