@import "@styles/global.scss";

.button {
  overflow: hidden;
  position: relative;
  background-color: $color1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid $color3;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.normal {
  &:hover {
    background-color: $color12;
  }
}

.primary {
  background-color: $color1;
  border: $blocksBorder;
  box-shadow: $blocksShadow;
  &:hover {
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: none;
  }
}

.text {
  background-color: transparent;
}
