@import "@styles/global.scss";
.NavBar {
  font-weight: 600;
  width: 90%;
  margin: 20px auto;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;

  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  .nav {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
