@import "@styles/index.scss";

.modal {
  // pointer-events: none;

  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  min-width: 350px;
  padding: 20px 20px 28px 20px;
  border-radius: 15px;
  background-color: $blockBackground;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(15px);
}
// .opened {
//   pointer-events: auto;
// }

// .closing {
//   .content {
//     transform: scale(0.5);
//     transition: 0.3s transform;
//   }
// }
