@import "@styles/index.scss";
.Header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blockBackground;
  padding: 1rem;

  @include mobile {
    position: fixed;
    z-index: 100;

    bottom: 0;
    .logo {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    padding: 0.6rem;
  }
  .links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      width: 65%;
    }
    @include mobile {
      width: 100%;
      p {
        display: none;
      }
    }
  }
  .activeLink {
    color: $accentColor1;
    background-color: $currentColor;
    border-radius: $smallBorder;

    color: $accentColor1;
  }
}
