@import "@styles/global.scss";
.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blockBackground;
  padding: 0.5rem;
  box-shadow: $blocksShadow;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  .RightBlock {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
