@import "@styles/global.scss";
.testPassingForm {
  border-radius: 10px;
  background-color: $color1;
  width: 68%;
  height: 90vh;

  padding: 2rem;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  border: $blocksBorder;
  box-shadow: $blocksShadow;

  .testProgressing {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      font-size: 1.5rem;
      color: $color4;
    }
    .widthLine {
      display: flex;
      align-items: center;

      .colorLine {
        width: 0%;
        border: solid 2px $color8;
        transition: 0.5s;
      }
      .normalLine {
        border: solid 1px $color2;
        transition: 0.5s;
        width: 100%;
      }
    }
  }
  .answersBlock {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .answerBlock {
      width: 100%;
      justify-content: left;
      gap: 1rem;
      align-items: center;
      display: flex;
      p {
        font-size: 1.5rem;
      }
    }
  }

  .buttons {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .justifyContendEnd {
    justify-content: end;
  }
}
