@import "@styles/global.scss";
.MainPage {
  font-size: 24px;
  text-align: center;
  position: relative;
  width: 100%;
  .content {
    height: 85vh;
    margin: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    position: relative;
  }
  h3 {
    width: 75%;
    margin-top: 45px;
  }
  .authBlock {
    margin-top: 80px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 40%;
    }
  }

  .picture {
    position: absolute;
    display: inline-block;
  }

  .checklist {
    top: 0;
    left: 0;
  }
  .diamond {
    top: 0;
    right: 0;
  }
  .emoji {
    bottom: 0;
    left: 0;
  }
  .crown {
    top: -3.5rem;
    left: -3.5rem;
  }
  .airplane {
    bottom: 0;
    right: 0;
  }
}
